.accordion .title {
  /* Grows from 16 to 18px */
  font-size: clamp(1rem, 0.8283rem + 0.7326vw, 1.125rem);
  font-weight: 600;
  line-height: normal;
  margin-block-start: 0;
}

.accordion button {
  border: none;
  padding: 0;
  background: transparent;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  color: inherit;
}

.accordion button:hover {
  color: #ad28eb;
}

/**
 * 1. Set a nice transition duration.
 * 2. Set fill for collapsed state.
 * 3. Set fill for expanded state.
 * 4. Animate between the minus and plus icon on state change.
 */
.accordion button svg > * {
  transition: all 300ms; /* 1 */
}

.accordion button svg {
  fill: #ad28eb; /* 2 */
  flex-shrink: 0;
}

.accordion button[aria-expanded='true'] svg {
  fill: #301534; /* 3 */
}

.accordion button[aria-expanded='false'] svg > :nth-child(2) {
  transform: rotate(-90deg); /* 4 */
}

.accordion button[aria-expanded='false'] svg > :nth-child(3) {
  transform: rotate(-180deg); /* 4 */
}

/**
 * Add simple animation to show/hide panels
 * https://www.youtube.com/watch?v=B_n4YONte5A
 */
.accordion .panel {
  display: grid;
  grid-template-rows: 1fr;
  transition: grid-template-rows 200ms;
}

.accordion .panel[aria-hidden='true'] {
  grid-template-rows: 0fr;
}

.accordion .panel p:first-child {
  margin-block-start: 24px;
}

.accordion .panel p {
  /* Grows from 14 to 16px */
  font-size: clamp(0.875rem, 0.7033rem + 0.7326vw, 1rem);
}
