:root {
  --clr-light-pink: 275 100% 97%;
  --clr-grayish-purple: 292 16% 49%;
  --clr-dark-purple: 292 42% 14%;

  font-family: 'Work Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
    'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: hsl(var(--clr-light-pink));
  color: hsl(var(--clr-dark-purple));
}

ul {
  padding-inline-start: 0;
}

h1 {
  /* Grows from 32 to 56px */
  font-size: clamp(2rem, -0.0604rem + 8.7912vw, 3.5rem);
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: normal !important;
}

h1 .icon-star {
  width: clamp(1.5rem, 0.1264rem + 5.8608vw, 2.5rem);
}

h1 abbr {
  text-decoration: none;
}
