:root {
  --clr-light-pink: 275 100% 97%;
  --clr-grayish-purple: 292 16% 49%;
  --clr-dark-purple: 292 42% 14%;

  font-family: 'Work Sans', Inter, Roboto, 'Helvetica Neue', 'Arial Nova',
    'Nimbus Sans', Arial, sans-serif;
  font-weight: normal;
}

body {
  margin: 0;
  background-color: hsl(var(--clr-light-pink));
  color: hsl(var(--clr-dark-purple));
}

main {
  padding-inline: 24px;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  max-width: 600px;
  background-color: #fff;
  /* Grows from 24 to 40px */
  padding: clamp(1.5rem, 0.1264rem + 5.8608vw, 2.5rem);
  /* Grows from 8 to 15px */
  border-radius: clamp(0.5rem, -0.101rem + 2.5641vw, 0.9375rem);
}

.container ul {
  padding-inline-start: 0;
  /* Grows from 24 to 30px */
  margin-block-start: clamp(1.5rem, 0.9849rem + 2.1978vw, 1.875rem);
  margin-block-end: 0;
}

.container ul li + li::before {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  /* Grows from 19-23px so distance between accordions grows from 40-48px */
  margin-block: clamp(1.1875rem, 0.8441rem + 1.4652vw, 1.4375rem);
  background-color: #fcfcfe;
}

h1 {
  /* Grows from 32 to 56px */
  font-size: clamp(2rem, -0.0604rem + 8.7912vw, 3.5rem);
  display: flex;
  align-items: center;
  gap: 24px;
  line-height: normal !important;
  margin-block-start: 0;
}

h1 .icon-star {
  width: clamp(1.5rem, 0.1264rem + 5.8608vw, 2.5rem);
}

h1 abbr {
  text-decoration: none;
}
